<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewData["Title"] = "Sabahattin Ali - Öykü Kitapları";
    }
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="e_metin">Yazdığı Öykü Kitapları</div><br />
    <div class="o_metin"><p><b><i>Sabahattin Ali, Türk edebiyatının önemli isimlerinden biri olup, hem romanları hem de öyküleriyle geniş bir okuyucu kitlesi kazanmıştır.<br /> 
        Eserlerinde genellikle toplumsal eleştiriyi, bireysel mücadeleleri ve insan ruhunun derinliklerini işler.<br /> 
        İlk öykü kitabı Değirmen (1935) ile edebiyat dünyasında dikkatleri üzerine çekmiş, köy hayatını, aşkı ve toplumsal adaletsizliği realist bir biçimde anlatmıştır.<br /> 
        İçimizdeki Şeytan (1940) ve Kürk Mantolu Madonna (1943) gibi romanları, onun en çok tanınan eserleri arasında yer alırken, öykülerinde de insanın içsel çatışmalarına ve özgürlük arayışına dair derin gözlemler bulunur.<br /> 
        Sabahattin Ali, sade ama güçlü bir anlatım diliyle toplumsal gerçekleri ve bireysel duyguları harmanlayarak, Türk edebiyatına önemli katkılar yapmıştır.</i></b> </p>
     </div><hr />
   <div class="e_foto11"><img src="~/image/foto11.jpg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 96 sayfa<br /><br /> 
       "Değirmen", 16 öyküden oluşan ve Sabahattin Ali’nin hem bireysel hem de toplumsal temaları işlediği ilk öykü kitabıdır.<br /><br />
       Öykülerde:<br />İmkânsız aşklar,Anadolu insanının günlük yaşam mücadelesi,Toplumsal adaletsizlik,Doğa sevgisi,Bireyin içsel çatışmaları işlenir.<br />
       Eserdeki öyküler, yazarın Anadolu insanını ve doğayı betimlemedeki yeteneğini ortaya koyar. Her öyküde farklı bir yaşam kesiti sunar.
       <a href="@Url.Action("degirmen","Home")" class="continue-btn">Devamı...</a>
   </div></div>
       <div class="e_foto11"><img src="~/image/foto12.jpg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 102 sayfa<br /><br /> 
       "Kağnı", Sabahattin Ali'nin 1936 yılında yayımlanan öykü kitabıdır ve toplamda 6 öykü içerir.<br /><br />
       Kitap, Anadolu insanının yaşamına dair derin bir bakış sunar. Sabahattin Ali, bu öykülerde köy yaşamının zorluklarını, toplumsal adaletsizlikleri ve bireylerin içsel çatışmalarını realist bir biçimde ele alır.<br />
       Kitapta, genellikle köy hayatı, köylülerin yaşadığı sıkıntılar ve toplumsal eşitsizlikler anlatılır. Ayrıca, bireylerin kaderiyle olan mücadelesi ve hayatta kalma çabaları işlenir.<br />
   <a href="@Url.Action("kagni","Home")" class="continue-btn">Devamı...</a>    
   </div></div>
       <div class="e_foto11"><img src="~/image/foto13.jpeg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 104 sayfa<br /><br /> 
      "Ses", Sabahattin Ali'nin 1937 yılında yayımlanan bir öykü kitabıdır. <br /><br />
      Kitap, toplamda 7 öyküden oluşur ve yazarın toplumsal eleştirisini yoğun bir şekilde işlediği bir eserdir.<br /><br />
      "Ses", insan ruhunun derinliklerini ve içsel çatışmalarını konu alan öykülerden oluşur.<br />
      Sabahattin Ali, bu öykülerde bireylerin yalnızlıklarını, toplumsal baskıları ve bireysel trajedilerini işler.<br />
      Öykülerde, insanların içsel dünyasında duydukları “sesler” metaforik olarak kullanılarak, bireylerin duygusal ve ruhsal durumları anlatılır.<br />
       <a href="@Url.Action("ses","Home")" class="continue-btn">Devamı...</a>
  </div></div>
       <div class="e_foto11"><img src="~/image/foto14.jpg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 128 sayfa<br /><br /> 
     "Yeni Dünya", Sabahattin Ali'nin 1943 yılında yayımlanan bir öykü kitabıdır.<br /><br />
     Bu kitap, toplamda 9 öyküden oluşur ve yazarın köy yaşamı, bireysel yalnızlık ve toplumsal değişim gibi temaları işlediği önemli eserlerinden biridir.<br />
      "Yeni Dünya", özellikle köy yaşamının zorluklarını ve köylülerin içsel çatışmalarını konu alır.<br />
      Eserde, bireylerin yaşadığı yalnızlık, hayal kırıklıkları öne çıkar.<br /> 
      Öykülerde, köy hayatının zorlukları ve insanların bu hayatta verdikleri mücadeleler, toplumsal yapının ve değerlerin değişmesiyle insanların hayata dair beklentileri arasındaki çatışmalar işlenir.<br />
  <a href="@Url.Action("yeni_dunya","Home")" class="continue-btn">Devamı...</a>    
  </div></div>
        <div class="e_foto11"><img src="~/image/foto18.jpg" />
   <div class="o_metin2">Ortalama Sayfa Sayısı: 120 sayfa<br /><br /> 
     "Sırça Köşk", Sabahattin Ali'nin 1947 yılında yayımlanan bir öykü kitabıdır.<br /><br />
     Bu kitap, yazarın toplumsal eleştirilerinin yanı sıra mizahi öğeleri de içerdiği eserlerinden biridir.<br />
    "Sırça Köşk" adlı öyküde, Sabahattin Ali, bireylerin içsel dünyasındaki çatışmalar ile toplumsal baskıları işler.<br />
    Eserde, bir anlamda insanların hayalleri ile gerçekler arasındaki uçurumu anlatan sembolik bir anlatım kullanılır.<br />
    "Sırça Köşk" metaforu, insanın kendi izole dünyasına çekilmesinin, dış dünyadaki acı ve zorluklardan kaçmasının bir ifadesidir.<br />
<a href="@Url.Action("sirca_kosk","Home")" class="continue-btn">Devamı...</a>      
</div></div>
       </body>
</html>